html {
    scroll-behavior: smooth;
}

h2 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

pre {
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serifF;
}

footer {
    font-size: 10px;
    text-align: left;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.typeTxt {
    font-size: 70px;
    text-align: left;
    font-family: 'Big Shoulders Text', cursive;
    color: lightblue;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-right: 100px;
    margin-left: 100px;
}

.randomCredit {
    font-size: 10px;
    text-align: left;
    font-family: 'Alata', sans-serif;
}

.gotoTopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: lightblue;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}

.team-sec {
    background: #444;
    text-align: center;
}

.inner-width {
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    color: white;
    overflow: hidden;
}

.team-sec h1 {
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 4px solid;
    margin-bottom: 10px;
}

.ppl {
    float: left;
    width: calc(100% / 3);
    overflow: hidden;
    padding: 40px 0;
}

.ppl img {
    width: 120px;
    height: 120px;
}

.p-name {
    margin: 16px 0;
    text-transform: uppcase;
}

.p-desc {
    font-style: italic;
    color: white;
}
