html {
    scroll-behavior: smooth;
}
h1 {
    font-family: 'Poppins', sans-serif
}
h2 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

pre {
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serifF;
}

footer {
    font-size: 10px;
    text-align: left;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.TxtType {
    font-size: 70px;
    text-align: center;
    font-family: 'Big Shoulders Text', cursive;
    color: lightblue;
}

.randomCredit {
    font-size: 10px;
    text-align: left;
    font-family: 'Alata', sans-serif;
}

.gotoTopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: lightblue;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}

.team-sec {
    background: #444;
    margin-top: 650px;
    text-align: center;
}

.inner-width {
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    color: white;
    overflow: hidden;
}

.team-sec h1 {
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 4px solid;
    margin-bottom: 10px;
}

.ppl {
    float: left;
    width: calc(100% / 3);
    overflow: hidden;
    padding: 40px 0;
}

.ppl img {
    width: 120px;
    height: 120px;
}

.p-name {
    margin: 16px 0;
    text-transform: uppcase;
}

.p-desc {
    font-style: italic;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  .newsletter {
    background-image: linear-gradient(to right, darkblue, lightblue);
    width: 1000px;
    padding: 60px;
    text-align: center;
    box-shadow: 0 0 20px #00000060;
    margin: auto;
  }
  
  .newsletter h1 {
    text-transform: uppercase; 
    color: #ffff;
    font-size: 40px;
    line-height: 40px
  }
  
  .txtb {
    width: 100%;
    height: 70px;
    background: #f1f1f199;
    border-radius: 40px;
    position: relative;
    margin-top: 40px;
  }
  
  .txtb input {
    width: 100%;
    height: 70px;
    border-radius: 40px;
    border: 0;
    background: none;
    padding: 0 30px;
    outline: none;
    font-size: 15px;
    padding-right: 80px;
  }
  
  .txtb button { 
    background: white;
    border: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
    outline: none;
    cursor: pointer;
    color: #444;
    transition: 0.3s linear;
  }
  
  .txtb button:hover {
    opacity: .5;
  }